.marvel {
  background-color: #5cb85c;
}

.dc {
  background-color: #428bca;
}

.independent {
  background-color: #5bc0de;
}

img {
  width: 300px;
  margin-bottom: 15px;
}

p {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titles {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  width: 150px;
  margin:0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: red;
}

h2 {
  color: blue;
}
